iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            global = [
                "**/csvtk/merged_summary.tsv"
            ]
            samples = [
                "**/detailed_summary.tsv",
                "**/mlst.tsv",
                "**/plasmidfinder.tsv",
                "**/resfinder.tsv",
                "**/results.xlsx",
                "**/settings.txt",
                "**/*summary.tsv"]
        }
        metadata {
            samples {
            csv {
                path = "**/merged_summary.tsv"
                sep = "\t"
                idcol = "Isolate ID"
            }
        }
    }
}
    }

