iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            global = [
                "**/csvtk/merged_summary.tsv"
            ]
            samples = [
                "**/*_results/*detailed_summary.tsv",
                "**/*_results/*mlst.tsv",
                "**/*_results/*plasmidfinder.tsv",
                "**/*_results/*resfinder.tsv",
                "**/*_results/*pointfinder.tsv",
                "**/results.xlsx",
                "**/settings.txt",
                "**/*_results/*summary.tsv"]
        }
        metadata {
            samples {
            csv {
                path = "**/merged_summary.tsv"
                sep = "\t"
                idcol = "Isolate ID"
            }
        }
    }
}
    }

